body, h1, h2, h3, p, quote, small, form, input, ul, li, ol, label, div
{
	margin: 0px;
	padding: 0px;
}
body
{
	width: 100%;
	color: #393939;
	font-size: 13px;
	background: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar{
	background-color: #438eb9;
	min-height: 45px;
	width: 100%;
}
.container-fluid {
	padding-right: 20px;
	padding-left: 20px;
}
.container-fluid a{
    text-decoration: none;
}
.brand{
	color: #fff;
	display: block;
	float: left;
	padding: 10px 20px 10px;
	font-weight: bold;
	font-size: 24px;
}

#sidebar {
	width:169px;
	position:absolute;
	margin-left:0;
	margin-top:0;
	border-right:1px solid #CCC;
	background-color:#FFF
}
.nav-list {
	margin:0;
	padding:0;
	list-style:none
}
.nav-list>li {
	display: block;
	padding: 0;
	margin: 0;
	border: 0;
	border-top: 1px solid #fcfcfc;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}
li {
	line-height: 20px;
}
.nav {
	margin-bottom: 20px;
	margin-left: 0;
	list-style: none;
}
.nav-list>li>a {
	display: block;
	height: 38px;
	line-height: 36px;
	padding: 0 16px 0 7px;
	background-color: #f9f9f9;
	color: #585858;
	text-shadow: none!important;
	font-size: 13px;
	text-decoration: none;
}

.nav-list>li>a:hover {
	background-color:#FFF;
	color:#1963aa
}
.nav-list>li>a:hover:before {
	display:block;
	content:"";
	position:absolute;
	top:-1px;
	bottom:0;
	left:0;
	width:3px;
	max-width:3px;
	overflow:hidden;
	background-color:#3382af
}
.nav-list>li.active>a:hover:before {
	display:none
}
.nav-list>li.active:after {
	display:inline-block;
	content:"";
	position:absolute;
	right:-2px;
	top:-1px;
	bottom:0;
	border-right:2px solid #0b6cbc
}

.nav-list>li.active.open>.submenu>li.active>a:after {
	top:2px
}
.nav-list>.active>ul.submenu {
	display:block
}
.nav-list>li>.submenu {
	display:none;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	background-color:#FFF;
	border-top:1px solid #e5e5e5
}
.nav-list>li>.submenu>li {
	margin-left:0;
	position:relative
}
.nav-list>li>.submenu>li>a {
	display:block;
	color:#616161;
	padding:7px 0 8px 32px;
	margin:0;
	border-bottom:1px dotted #e4e4e4
}
.nav-list>li>.submenu>li>a:focus {
	text-decoration:none
}
.nav-list>li>.submenu>li:last-child>a {
	border-bottom:0
}
.nav-list>li>.submenu>li:first-child>a {
	border-top:1px solid #fafafa
}
.nav-list>li>.submenu>li>a:hover {
	text-decoration:none;
	color:#4b88b7
}
.nav-list>li>.submenu>li.active>a {
	color:#0b6cbc
}
.nav-list>li>.submenu>li {
	position:relative
}
.nav-list>li>.submenu>li:before {
	display:inline-block;
	content:"";
	width:9px;
	position:absolute;
	left:21px;
	top:17px;
	border-top:1px dashed #b1c9e0
}
.nav-list>li>.submenu>li>a {
	padding-left:37px;
	position:relative
}
.nav-list>li>.submenu>li:after {
	content:"";
	display:inline-block;
	position:absolute;
	top:0;
	bottom:0;
	left:18px;
	width:0;
	border-left:1px dashed #b1c9e0
}
.nav-list>li>.submenu>li>a>[class*="icon-"]:first-child {
	display:none;
	font-size:12px;
	font-weight:normal;
	width:22px;
	height:16px;
	line-height:16px;
	text-align:center;
	position:absolute;
	left:8px;
	top:10px;
	z-index:1;
	background-color:#FFF
}
.nav-list>li>.submenu>.active>a>[class*="icon-"]:first-child,.nav-list>li>.submenu>:hover>a>[class*="icon-"]:first-child {
	display:inline-block
}
.nav-list>li>.submenu>.active>a>[class*="icon-"]:first-child {
	color:#c86139
}
#page-content {
	margin: 0;
	background: #FFF;
	padding: 18px 20px 24px 0px;
}
#page-content>.page-header:first-child>h1 {
	padding: 0;
	margin: 0 8px;
	font-size: 24px;
	font-weight: 300;
	color: #2679b5;
}
.table-bordered {
	border: 1px solid #ddd;
	border-collapse: separate;
	border-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.table-bordered {
border-radius: 0!important;
}
table {
max-width: 100%;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;
}
.table {

width: 100%;
margin-bottom: 20px;
}
.table thead:first-child tr {
background: #f2f2f2;
background: -moz-linear-gradient(top,#f8f8f8 0,#ececec 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8f8f8),color-stop(100%,#ececec));
background: -webkit-linear-gradient(top,#f8f8f8 0,#ececec 100%);
background: -o-linear-gradient(top,#f8f8f8 0,#ececec 100%);
background: -ms-linear-gradient(top,#f8f8f8 0,#ececec 100%);
background: linear-gradient(to bottom,#f8f8f8 0,#ececec 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8',endColorstr='#ECECEC',GradientType=0);
color: #707070;
font-weight: normal;
}
tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}
.table-bordered thead:first-child tr th:first-child {
border-left-color: #DDD;
}
.table-bordered thead:first-child tr th {
border-width: 0 0 0 1px;
border-color: #DDD;
vertical-align: middle;
}
.table thead:first-child tr th {
border: 1px solid #DDD;
border-width: 0 1px;
font-weight: bold;
}
.table-bordered th, .table-bordered td {
border-left: 1px solid #ddd;
}

.table th, .table td {
padding: 8px;
line-height: 20px;
text-align: left;
vertical-align: top;
border-top: 1px solid #ddd;
}
.center {
text-align: center;
}

/* Blue Color */

.blue {
	color: #eeeeee;

	background: #70c9e3; /* Old browsers */
	background: -moz-linear-gradient(top,  #70c9e3 0%, #39a0be 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70c9e3), color-stop(100%,#39a0be)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* IE10+ */
	background: linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* W3C */
}

.button {
	display: inline-block;
	position: relative;
	margin: 10px;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
	font: bold 12px/25px Arial, sans-serif;

	text-shadow: 1px 1px 1px rgba(255,255,255, .22);

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;

	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.right{
	float:right;
}
.left{
	float:left;
}
.oddrow{
	background: #f9f9f9;
}
.table-hover tbody>tr:hover{
	background: #f1f1f1;
}
.table-odd tbody tr:nth-child(odd){ 
background-color: #f9f9f9; 
} 
.bottom-dotted{
	width:100%;
	border-bottom: 1px dotted #e2e2e2;
	
	margin:0 0 12px;
}
.form-header h1{
	padding:0 0 12px;
	margin: 0 8px 10px;
	font-size: 24px;
	font-weight: 300;
	color: #2679b5;
}
.row-fluid {
padding:0 0 0 10px;
width: 100%;
}
form {
margin: 0 0 20px;
}

.formtable{
	width:100%;
	
}
.formtable tr{
	line-height:26px;
}
.formtable tr td:first-child{
	width:140px;
	text-align:right;
}
.formtable tr td:nth-child(2){
	padding-left:14px;
}
.s_btn {
width: 100px;
height: 34px;
color: white;
letter-spacing: 1px;
background: #3385ff;
border-bottom: 1px solid #2d78f4;
outline: medium;
-webkit-appearance: none;
-webkit-border-radius: 0;
}
.page{
	width: 100%;
	background-color: #e7f0f9;
	padding-left:20px;
}
.box-content{
	clear:both;
	padding:10px;
}
#search-bar{
	clear:both;
	background-color: #e7f0f9;
	padding-left:20px;
}
